.About {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 1px;
  height: auto;
  background: white;
  text-align: center;
  margin: 20px auto;
  padding: 10px 25px;
  font-size: 16px;
  line-height: 1.6;

  & a {
    color: #D32F2F;
    &:hover {
      color: #962020;
    }
  }
}
