body {
	background: $bs-bg;
}

header {
	background: $bs-red;
	text-align: center;

	a {
		color: white;
		&:hover, &:active, &:focus {
			color: white;
			text-decoration: none;
			text-transform: none;
		}
	}

	h1 {
		font-weight: 600;
		font-size: 3rem;
		margin: 0 auto;
		padding: 30px 0;
	}
}

#content {
	a { text-decoration: none; }

	.nodes {	
    @extend .parrent;

		.node {
			@extend .child;
			@include make-xs-column(6);
			@include make-sm-column(4);
			@include make-md-column(3);

			.node-details {
				@extend .grandchild;
				min-height: 200px;
  			transition: all 0.2s ease-in-out;

  			&:hover {
					box-shadow: 0 6px 6px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  			}

				p {
					font-size: 2.2rem;
					color: $bs-black;
					display: block;
				}

				img {
					margin: 40px auto 20px auto;
					height: 80px;
				}
			}

		}
	}

	.location-name {
		@extend .container-fluid;

		background: $bs-black;
		text-align: center;

		button {
			@extend .btn;
			background: transparent;
			border: 1px solid #424242;
			color: white;
			margin-top: 18px;

			&:hover{
				color: white;
				background: #424242;
			}
		}

		h2 {
			color: white;
			font-weight: 600;
			font-size: 2rem;
			margin: 0 auto;
			padding: 20px 0;
		}
	}

	.routes {
		@extend .parrent;

		.route {
			margin: 5px 0;
			@include make-xs-column(12);
			@include make-sm-column(6);
	    @include make-md-column(6);

	    	.route-details{
					@extend .grandchild;

					min-height: 265px;

					h3 {
						font-weight: 600;
						font-size: 2.6rem;
						padding-top: 25px;
					}

					h4 {
						font-weight: 600;
						font-size: 2.2rem;
						color: $bs-red;
						margin: 15px auto;
					}

					p {
						padding: 5px 45px;
						color: #525252;
					}

					.route-next {
						font-weight: 600;
						font-size: 1.6rem;
						color: $bs-black;
					}
	    	}
	  } 
	}

}