body {
	background: $bs-bg;
}

header {
	background: $bs-red;
	text-align: center;

	a {
		color: white;

		&:hover, &:active, &:focus {
			color: white;
			text-decoration: none;
			text-transform: none;
		}
	}

	h1 {
		font-weight: 800;
		font-size: 3rem;
		margin: 0 auto;
		padding: 30px 0;
	}
}

#content {
	a { text-decoration: none; }

	.nodes {	
    	@extend .parrent;

		.node {
			@extend .child;
			@include make-xs-column(6);
			@include make-sm-column(4);
			@include make-md-column(3);



			.node-details {
				@extend .grandchild;
				min-height: 200px;

  				transition: all 0.2s ease-in-out;

  				&:hover{
					box-shadow: 0 6px 6px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  				}

				p {
					font-size: 2.2rem;
					color: $bs-black;
					display: block;
				}

				img {
					margin: 40px auto 20px auto;
					height: 80px;
				}
			}

		}

	}

	.location-name {
		@extend .container-fluid;

		background: $bs-black;
		text-align: center;

		button {
			@extend .btn;
			background: transparent;
			border: 1px solid #424242;
			color: white;
			margin-top: 15px;

			&:hover{
				color: white;
				background: #424242;
			}
		}

		h2 {
			color: white;
			font-weight: 800;
			font-size: 2rem;
			margin: 0 auto;
			padding: 20px 0;
		}
	}

	.routes {
		@extend .parrent;

		.route {
			@extend .child;
			@include make-xs-column(12);
			@include make-sm-column(6);
	    	@include make-md-column(6);

	    	.route-details{
				@extend .grandchild;

				min-height: 250px;

				position: relative;
    			overflow: hidden;

				img {
					height: 80px;
					position: absolute;
				    left: 0;
				    top: 0;
				    opacity: 0.1;
				    margin: auto;
				}

				h3 {
					font-weight: 800;
					font-size: 2.4rem;
					margin-bottom: 30px;
				}

				h4 {
					font-weight: 800;
					font-size: 2.2rem;
					color: $bs-red;
					margin-bottom: 20px;
				}

				p {
					padding: 5px 40px;
				}

	    	}

	    } 

	}

}