body {
	background: $bs-bg;

	a {
		&:hover, &:active, &:focus {
			color: white;
			text-decoration: none;
			text-transform: none;
		}
	}
}

header {
	background: $bs-red;
	text-align: center;

	a {
		color: white;
		&:hover, &:active, &:focus {
			color: white;
			text-decoration: none;
			text-transform: none;
		}
	}

	h1 {
		font-weight: 600;
		font-size: 3rem;
		margin: 0 auto;
		padding: 25px 0;
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: $bs-black;
	color: $bs-bg;

	h4 {
		margin: auto;
		padding: 0;
	}

	a {
		color: $bs-bg;
		&:hover {
			color: $bs-red;
		}
	}
}

#content {
	min-height: 83vh;

	a { text-decoration: none; }

	// Page Title
	.page-title {
		@extend .container-fluid;

		background: $bs-black;
		text-align: center;

		h2 {
			color: white;
			font-weight: 600;
			font-size: 2rem;
			margin: 0 auto;
			padding: 20px 0;
		}
	}

	// Spinner
	.loading {
		@extend .parrent;
		padding: 50px;
		text-align: center;
		img {
			height: 60px;
		}
	}

	// List
	.nodes {
    @extend .parrent;

		.node {
			@extend .child;
			@extend .col-centered;
			@include make-xs-column(6);
			@include make-sm-column(4);
			@include make-md-column(3);

			.node-details {
				@extend .grandchild;
				min-height: 200px;
  			transition: all 0.2s ease-in-out;

  			&:hover {
					box-shadow: 0 6px 6px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  			}

				p {
					font-size: 2.2rem;
					color: $bs-black;
					display: block;
				}

				img {
					margin: 40px auto 10px auto;
					height: 80px;
				}
			}

		}
	}

	// Routes
	.routes {
		@extend .parrent;

		.route {
			margin: 5px 0;
			@include make-xs-column(12);
			@include make-sm-column(6);
	    @include make-md-column(6);

	    	.route-details{
					@extend .grandchild;

					min-height: 280px;

					h3 {
						font-weight: 600;
						font-size: 2.6rem;
						padding-top: 25px;
					}

					h4 {
						font-weight: 600;
						font-size: 2.2rem;
						color: $bs-red;
						margin: 15px auto;
					}

					p {
						padding: 5px 45px;
						color: #525252;
					}

					ul {
						list-style: none;
						padding: 0;

						li {
							margin: 1px auto;
						}
					}

					.route-next {
						font-weight: 600;
						font-size: 1.6rem;
						color: $bs-black;
					}
	    	}
	  }
	}

	// About
	.about {
		@extend .container;

		.about-content {
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			height: auto;
			background: white;
			text-align: center;
			margin: 20px auto;
			padding: 10px 25px;
			font-size: 16px;
			line-height: 1.6;

			a {
				color: $bs-red;
				&:hover {
					color: darken($bs-red, 10%);
				}
			}
		}
	}

	// Back Button
	.backButton {
		@extend .btn;
		background: transparent;
		border: 1px solid #424242;
		color: white;
		margin-top: 18px;

		&:hover{
			color: white;
			background: #424242;
		}
	}

}
