@media (min-width: 1920px) {
	header {
		h1 {
			padding: 40px 0;
		}
	}

	#content {
		min-height: 80vh;

		.nodes {
			padding: 25px 0;
		}
	}

	footer {
		height: 40px;
	}
}

@media (min-width: 1440px) {
	footer {
		height: 55px;
	}

	#content {
		min-height: 85vh;

	  .nodes {
			.node {
				@include make-lg-column(4);
			}
		}
	}

}

@media (max-width: 767px) {
	header {
		h1 {
			padding: 20px 0;
			font-size: 2rem;
		}
	}

	#content {
		min-height: 90vh;

		.page-title {
			h2 { font-size: 1.6rem; }
		}

		.backButton {
			margin-top: 17px;
			font-size: 1.1rem;
		}

		.nodes {
			.node {
				.node-details {
					min-height: 100px;
					p { font-size: 1.6rem; }
					img {
						margin: 20px auto 0px auto;
						height: 45px;
					}
				}
			}
		}

		.routes {
			.route {
				margin: 15px 0;
				.route-details {
					min-height: 150px;
					h3, h4 { margin: 5px auto; }
					h3 { font-size: 2.1rem; padding: 15px 0 5px 0;}
					h4 { font-size: 1.9rem; }
					p {
						padding: 5px 20px;
						font-size: 1rem;
					}
					ul > li {
						font-size: 1rem;
					}
					.route-next { font-size: 1.2rem; }
				}
			}
		}
	}
}
